services:
  backend:
    build:
      context: .
      dockerfile: ./docker/backend/Dockerfile.local
    container_name: ec-extension_backend
    working_dir: /app/backend
    ports:
      - "8011:8080"
    volumes:
      - .:/app
    tty: true
    env_file:
      - "./backend/.env"
    depends_on:
      - backend-db

  backend-db:
    image: postgres:17.0-bookworm
    container_name: ec-extension_backend-db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  backend-migration:
    build:
      context: .
      dockerfile: ./docker/backend-migration/Dockerfile
    container_name: ec-extension_backend-migration
    working_dir: /app/backend/migration
    tty: true
    stdin_open: true
    command: ["/app/target/release/migration", "up"]
    environment:
      - DATABASE_URL=postgres://postgres:postgres@backend-db/postgres
    depends_on:
      - backend-db

  otel-collector:
    image: otel/opentelemetry-collector-contrib
    ports:
      - 1888:1888 # pprof extension
      - 8888:8888 # Prometheus metrics exposed by the Collector
      - 8889:8889 # Prometheus exporter metrics
      - 13133:13133 # health_check extension
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
      - 55679:55679 # zpages extension
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml

volumes:
  postgres_data:
