name: Frontend CI

on:
  pull_request:
    paths:
      - "frontend/**"
      - ".github/workflows/frontend-ci.yml"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend/real-shop

    permissions:
      checks: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22.8.0
          cache: "npm"
          cache-dependency-path: frontend/real-shop/package-lock.json

      - name: Install dependencies
        run: |
          npm ci

      - name: Run lint
        run: |
          npm run lint

      - name: Run tests
        run: |
          npm run test

      - name: Run build
        run: |
          npm run build

      - name: Run tests with coverage
        run: |
          npm run test:coverage

      - name: Comment coverage report on PR
        uses: ArtiomTr/jest-coverage-report-action@v2
        if: github.event_name == 'pull_request'
        with:
          skip-step: all
          coverage-file: frontend/real-shop/coverage/lcov.info
          base-coverage-file: frontend/real-shop/coverage/lcov.info
          working-directory: frontend/real-shop
